<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Tenki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <a href="/">Back</a>
    </button>
    <div class="flex items-center justify-center">
        <div><h1>見つかりませんでした。</h1></div>
        <div><p class="text-gray-400 text-xs">英語で入力してみてください。</p></div>
    </div> 
</body>
</html>